.ease {
  transition-timing-function: ease;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
